[submodule "fuel/core"]
	path = fuel/core
	url = https://github.com/fuel/core.git
[submodule "fuel/packages/orm"]
	path = fuel/packages/orm
	url = https://github.com/fuel/orm.git
[submodule "fuel/packages/oil"]
	path = fuel/packages/oil
	url = https://github.com/fuel/oil.git
[submodule "fuel/packages/email"]
	path = fuel/packages/email
	url = https://github.com/fuel/email.git
[submodule "fuel/packages/auth"]
	path = fuel/packages/auth
	url = https://github.com/fuel/auth.git
[submodule "fuel/packages/oauth"]
	path = fuel/packages/oauth
	url = https://github.com/fuel-packages/fuel-oauth
[submodule "fuel/packages/oauth2"]
	path = fuel/packages/oauth2
	url = https://github.com/fuel-packages/fuel-oauth2
