/composer.lock
*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
.tmpoj
build
nbproject/
.idea

/localoil
/fuel/logs/*
/fuel/cache/*
/fuel/vendor/*

/fuel/app/config/crypt.php
/fuel/app/config/ninjauth.php

/fuel/app/config/development/db.php
/fuel/app/config/development/migrations.php
/fuel/app/config/stage/db.php
/fuel/app/config/stage/migrations.php
/fuel/app/config/production/db.php
/fuel/app/config/production/migrations.php
