*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
.tmpoj
build
nbproject/
.idea

/fuel/logs/*/*/*
/fuel/cache/*/*
/fuel/app/config/crypt.php
/fuel/app/development/db.php
/fuel/app/production/db.php
