/* DOCS CSS */

/* Docs page header ---------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#docs .header {border-bottom:1px solid #ddd;padding-bottom:10px;}
#docs .header form {text-align:right;}
#docs .header form h5 {margin-bottom:0px;}
#docs .footer {margin-top:20px;}
#docs .bottomborder {margin-bottom:10px; padding: 5px 0px 15px 5px; border-bottom:1px solid #ddd;}

#docs .btn{cursor:pointer;display:inline-block;font-weight:bold;background-color:#e6e6e6;background-repeat:no-repeat;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);background-image:-ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);padding:4px 10px 5px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;font-size:13px;line-height:normal;border:1px solid #ccc;border-bottom-color:#bbb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;-ms-transition:0.1s linear all;-o-transition:0.1s linear all;transition:0.1s linear all;}
#docs .btn:hover{background-position:0 -15px;color:#333;text-decoration:none;}
#docs .btn:focus{outline:1px dotted #666;}
#docs .btn:active{-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);}
#docs .btn.red {color:#fff;background-color:#c43c35;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));background-image:-moz-linear-gradient(top, #ee5f5b, #c43c35);background-image:-ms-linear-gradient(top, #ee5f5b, #c43c35);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));background-image:-webkit-linear-gradient(top, #ee5f5b, #c43c35);background-image:-o-linear-gradient(top, #ee5f5b, #c43c35);background-image:linear-gradient(top, #ee5f5b, #c43c35);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#c43c35 #c43c35 #882a25;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
#docs .btn.purple {color:#fff;background-color:#9B39BD;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#CA5CFF), to(#9B39BD));background-image:-moz-linear-gradient(top, #CA5CFF, #9B39BD);background-image:-ms-linear-gradient(top, #CA5CFF, #9B39BD);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #CA5CFF), color-stop(100%, #9B39BD));background-image:-webkit-linear-gradient(top, #CA5CFF, #9B39BD);background-image:-o-linear-gradient(top, #CA5CFF, #9B39BD);background-image:linear-gradient(top, #CA5CFF, #9B39BD);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#CA5CFF', endColorstr='#9B39BD', GradientType=0);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#814198 #814198 #3B1C46;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
#docs .btn.primary{color:#ffffff;background-color:#0064cd;background-repeat:repeat-x;background-image:-khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));background-image:-moz-linear-gradient(top, #049cdb, #0064cd);background-image:-ms-linear-gradient(top, #049cdb, #0064cd);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));background-image:-webkit-linear-gradient(top, #049cdb, #0064cd);background-image:-o-linear-gradient(top, #049cdb, #0064cd);background-image:linear-gradient(top, #049cdb, #0064cd);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);border-color:#0064cd #0064cd #003f81;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
#docs .btn.disabled{cursor:default;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);filter:alpha(opacity=65);-khtml-opacity:0.65;-moz-opacity:0.65;opacity:0.65;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
#docs .btn[disabled]{cursor:default;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);filter:alpha(opacity=65);-khtml-opacity:0.65;-moz-opacity:0.65;opacity:0.65;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
#docs .btn.large{font-size:15px;line-height:normal;padding:9px 14px 9px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
#docs .btn.small{padding:2px 4px 2px;font-size:11px;}
#docs .btn.inline{padding:0px 5px 0px;margin:0 2px; font-size:12px;}
#docs form input.btn {margin-right:10px;}
#docs form hr { margin: 15px 0px; border:2px dotted #ccc;}

/* Docs menu layout ------------------------------------------------------------------------------------------------------------------------------------------------------*/
#menu_list h5 {margin: 15px 0px;}
#menu_list ul, #menu_list ul ul, #menu_list ul ul ul, #menu_list ul ul ul ul { margin: 0; padding: 0; list-style-type: none; cursor: default; }
#menu_list ul { margin-right: 10px }
#menu_list li { margin: 2px 0; padding-left: 15px; }
#menu_list li div  { padding: 2px 1px 2px 10px; margin: 0; background-color: #F3F3F3; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
#menu_list li div {cursor: pointer;}
#menu_list li div:hover {background-color: #dbdbdb; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }
#menu_list .plus { color: #858585;font-weight:bold; font-size: 14px; background: url('../img/expand.png') no-repeat -4px 4px; }
#menu_list .minus { color: #858585;font-weight:bold; font-size: 14px; background: url('../img/collapse.png') no-repeat -4px 4px; }
#menu_list li div.current { background-color:#c141ff; }
#menu_list li div.current a {color: #fff;}
#menu_list li div.current:hover {background-color: #B688CD;}

/* Docs menu sortable layout ------------------------------------------------------------------------------------------------------------------------------------------------------*/
#menu_list .sortable li div {cursor: move;}
#menu_list .sortable li.placeholder { background-color: #c2c0c0; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; margin-left: 20px; }
#menu_list .sortable li.ui-nestedSortable-error { background:#F86E74; }

/* Docs page structure ------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#docs .content {min-height:300px; background:url('../img/docs_bg.png') repeat-y;}
#docs .sidebar {float:left;width:250px;padding-top:10px;margin-right:0px;overflow:hidden;}
#docs .sidebar>ul {margin:0;}
#docs .page {float:right;width:749px;padding-top:10px;margin-left:0px;padding-left:0px;}
#docs .page .editpage {float:left;margin-left:10px;}
#docs .details {padding-left:10px;}
#docs .details table {border-radius: 5px;border-left: 1px solid #C73DFF; margin-bottom:15px;background:transparent;}
#docs .details table th, #docs .details table td {min-width:100px; font-size: 13px; padding: 10px; border-right: 1px dotted #bbb;border-bottom: 1px dotted #bbb;}
#docs .details table th {background-color: #ccc; white-space:nowrap; }
#docs .details table td {color: #515151;background-color: #ddd;}
#docs .details table tr th:first-child {border-top-left-radius: 5px;}
#docs .details table tr th:last-child {border-top-right-radius: 5px;}
#docs .details table tr:last-child td:first-child {border-top-left-radius: 0px; border-bottom-left-radius: 5px;}
#docs .details table tr:last-child td:last-child {border-bottom-right-radius: 5px; border-top-right-radius: 0px;}
#docs .details ul {list-style-image:url('../img/bullet.png');}
#docs .details ins {color:green;background:#dfd;text-decoration:none}
#docs .details del {color:red;background:#fdd;text-decoration:none}
#spinner {
	position: absolute;
	display:none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.4) url(../img/spinner.gif) no-repeat center center ;
	z-index: 1000;
}


/* Docs api docs ------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#docs .badge.green {background-color: #7ba60d;}
#docs .badge.lightblue {background-color: #4f85cf;}
#docs .badge.blue {background-color: #0d4da6;}
#docs .badge.darkblue {background-color: #04387f;}
#docs .badge.red {background-color: #a6620d;}
#docs .badge {display: inline-block; background-color: #c141ff; color: #fff; margin-top: -2px; padding: 2px 5px 2px 5px; font-weight: normal; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;}

#docs_errors {margin-bottom:20px; }
#docs_errors .error { color:red !important; }

#docs_docblock {font-size: 80%;}
#docs_docblock dl {float:left; width:100%; padding:0; border-bottom: 1px dotted #ccc;}
#docs_docblock dt {clear:left; float:left; width:219px; padding:5px; border-top:1px dotted #ccc; font-weight:bold;}
#docs_docblock dd {float:left; width:500px; padding:5px; border-top:1px dotted #ccc;}

#docs_constants {font-size:80%;}
#docs_constants h3 {margin-top: 20px;}
#docs_constants dl {float:left; width:100%; padding:0; border-bottom: 1px dotted #ccc;}
#docs_constants dt {clear:left; float:left; width:269px; padding:5px; border-top:1px dotted #ccc; font-weight:bold;}
#docs_constants dd {float:left; width:450px; padding:5px; border-top:1px dotted #ccc; overflow-x:hidden; }

#docs_functions {font-size:80%;}
#docs_functions h3 {margin-top:20px;margin-bottom:0px;}
#docs_functions .function {margin-top:20px; width:100%; padding:5px 0px; color:#666; font-weight:bold; font-size:150%;}
#docs_functions .docblock p {margin: 0;padding: 5px 0px; font-weight:bold; font-size:110%; }
#docs_functions .docblock p p {font-weight:normal; }
#docs_functions .docblock dl {float:left; width:100%; padding:0; border-bottom: 1px dotted #ccc;}
#docs_functions .docblock dt {clear:left; float:left; width:219px; padding:5px; border-top:1px dotted #ccc; font-weight:bold;}
#docs_functions .docblock dd {float:left; width:500px; padding:5px; border-top:1px dotted #ccc;}

#docs_classes {font-size:80%;}
#docs_classes h3 {margin-top:20px;}
#docs_classes .class dt {margin-top:15px; width:100%; padding:5px 0px; color:#666; font-weight:bold; font-size:150%;}
#docs_classes div.docblock {border-bottom: 1px dotted #ccc;}
#docs_classes .docblock pre {margin:0; padding:0; }
#docs_classes .docblock pre code {font-size:120%;}
#docs_classes .docblock p {margin: 0;padding: 5px 0px; font-weight:bold; font-size:110%; }
#docs_classes .docblock p p {font-weight:normal; }
#docs_classes .docblock dl {float:left; width:100%; padding:0; border-bottom: 1px dotted #ccc;}
#docs_classes .docblock dt {clear:left; float:left; width:219px; padding:5px; border-top:1px dotted #ccc; font-weight:bold;}
#docs_classes .docblock dd {float:left; width:500px; padding:5px; border-top:1px dotted #ccc;}
#docs_classes .properties p {margin: 0; padding: 20px 0px 5px 0px; font-weight:bold; font-size:150%; }
#docs_classes .properties dl {float:left; width:100%; padding:0; border-bottom: 1px dotted #ccc; margin-bottom:10px; }
#docs_classes .properties dl p {font-weight:bold; font-size:120%; padding-left:5px; }
#docs_classes .properties dt {clear:left; float:left; width:280px; padding:5px; padding-top:10px; border-top:1px dotted #ccc; font-weight:bold;}
#docs_classes .properties dd {float:left; width:439px; padding:5px; border-top:1px dotted #ccc;}
#docs_classes .properties dd span {margin: 0; font-weight:bold; font-size: 100%; }
#docs_classes .properties dd pre {margin:0; padding:5px 0 0 0;}
#docs_classes .properties dd span {float:right; margin: 0 0 0 5px; }
#docs_classes .function {margin-top:20px; width:100%; padding:5px 0px; color:#666; font-weight:bold; font-size:150%;}
#docs_classes .function span {margin: 0px 5px 0px 0px; }
